{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
    <div class="title mt-2 " style =" display  : flex ; aling-items: center; justify-content : center">
        <h3>{{titre}}</h3>
    </div>
    <div >
         {{form_start(form)}}
            <div class="row">
                <div class="col">
                    {{form_row(form.n_titre)}}
                </div>
                <div class="col">
                    {{form_row(form.fkt)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_row(form.zonePudi)}}
                </div>
                <div class="col">
                    {{form_row(form.superficie)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_row(form.nomCadastre)}}
                </div>
                <div class="col"> 
                    {{form_row(form.nbParcelle)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_row(form.image)}}
                </div>
                
                
            </div>
         {{form_end(form)}}
    </div>



{% endblock %}
{% block javascript %}
     
{% endblock %}  