{% extends 'baseUser.html.twig' %}

{% block title %}Tous mes terrains cadastres{% endblock %}
{% block css %}
<style> 
    {# th:nth-child(6),
    td:nth-child(6) {
    width: 120px; /* Par exemple, une largeur fixe de 200 pixels */
    max-width: 120px; /* Pour s'assurer que la largeur ne dépasse pas 200 pixels */
    white-space: nowrap; /* Pour empêcher le retour à la ligne du contenu */
    overflow: hidden; /* Pour cacher le contenu débordant */
    text-overflow: ellipsis; /* Pour afficher des points de suspension (...) si le contenu est coupé */
    } #}
    th,
    td {
    width: 80px; /* Par exemple, une largeur fixe de 200 pixels */
    max-width: 80px; /* Pour s'assurer que la largeur ne dépasse pas 200 pixels */
    white-space: nowrap; /* Pour empêcher le retour à la ligne du contenu */
    overflow: hidden; /* Pour cacher le contenu débordant */
    text-overflow: ellipsis; /* Pour afficher des points de suspension (...) si le contenu est coupé */
    }
    

</style>
{% endblock %}
{% block body %}

        <div class="title mt-2 " style =" display  : flex ; aling-items: center; justify-content : center">
            <h3>Tous mes terrains cadastrés</h3>
        </div>
        
            {# <hr class="mb-3 " style="width : 75% ; margin : auto"> #}
            <hr class="mb-3" style="width : 50% ; margin : auto">
            <hr class="mb-3" style="width : 25%; margin : auto">
        
        <div class="content">
            <table id ="table_id" class="table  table-striped table-bordered ">
                <thead class=" table-primary text-center" style="font-weight:bold">
                    <td class=" table-primary text-center">n_cadastres</td>
                    <td class=" table-primary text-center">n_parcelle</td>
                    <td class=" table-primary text-center">Nom terrain</td>
                    <td class=" table-primary text-center">Fokotany</td>
                    <td class=" table-primary text-center">Zone PUDi</td>
                    <td class=" table-primary text-center">Superficie parcelle</td>
                    {# <td>contenance</td> #}
                    {# <td class=" table-primary text-center">Proprietaire parcelle</td>
                    <td class=" table-primary text-center">CIN proprietaire</td> #}
                    <td class=" table-primary text-center">Action</td>
                </thead>
                {% set contenueColonne1 = [] %}
                {% for maParcelle in mesParcelles %}
                    {% if maParcelle.getTerrainCadastre == null %}
                    
                        {{ maParcelle == null }}
                
                    {% else %}

                            {# {% if maParcelle.getTerrainCadastre.getNTitre not in contenueColonne1 %} #}
                                <tr>
                                    <td class="text-center"  style="font-weight:bold">{{ maParcelle.getTerrainCadastre.getNTitre}}</td>
                                    <td class="text-center"  style="font-weight:bold">{{ maParcelle.getNParcelle}}</td>
                                    <td class="text-center ">{{ maParcelle.getTerrainCadastre.getNomCadastre}}</td>
                                    <td class="text-center ">{{ maParcelle.getTerrainCadastre.getFkt}}</td>
                                    <td class=" text-center {% if maParcelle.getTerrainCadastre.getZonePudi == "constructible" or maParcelle.getTerrainCadastre.getZonePudi == "Constructible"  %}text-success {% elseif maParcelle.getTerrainCadastre.getZonePudi == "Inconstructible" or maParcelle.getTerrainCadastre.getZonePudi == "inconstructible"%} text-danger {% endif %}" style= "font-weight : bold ">{{ maParcelle.getTerrainCadastre.getZonePudi}}</td>
                                    <td class=" text-center">{{ maParcelle.getSuperficieParcelle}}</td>
                                    {# <td class=" "  style="font-weight:bold">{{ maParcelle.getContenances.}}</td> #}
                                    {# <td class="text-center ">{{ maParcelle.getProprietaireParcelle.getNom}} {{ maParcelle.getProprietaireParcelle.getPrenom}}</td>
                                    <td class="text-center ">{{ maParcelle.getProprietaireParcelle.getCin}}</td> #}
                                    <td class="display : flex  ; justify-content : space-between ; flex-wrap :no-wrap text-center">
                                        <a class=" btn btn-outline-primary" href={{path('app_user_show_terrain_cadastre'  , {id: maParcelle.id})}} style="text-decoration : none" class="btn btn-outline-default btn-sm m-0"><i class="fa fa-info"> </i> </a> 
                                        {# <a class=" btn btn-outline-primary" href="#" style="text-decoration : none" class="btn btn-outline-default btn-sm m-0">Mes parcelles</a>  #}
                                    </td>
                                </tr>
                                {# {% set contenueColonne1 = contenueColonne1|merge([maParcelle.getTerrainCadastre.getNTitre]) %}  
                            {% endif %} #}
                                
                    {% endif %}
                        
                    
                {% endfor %}
            </table>
        </div>
    
    <hr class="mb-3" style="width : 50% ; margin : auto">
    <hr class="mb-3" style="width : 25%; margin : auto">
    <hr class="mb-3" style="width : 13%; margin : auto">
    <hr class="mb-3" style="width : 7%; margin : auto">


{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable();
        });
    </script>
{% endblock %}  