{% extends 'baseUser.html.twig' %}

{% block title %}A propos du terrain{% endblock %}

{% block body %}
    <div style="display:flex; justify-content : center" class="mb-2 mt-3">
        <h3>A propos de votre terrain cadastré parcelle N° {{ parcelle.getNParcelle }}</h3>  
    </div>
    <hr class="mb-3" style="width : 50% ; margin : auto">
    <hr class="mb-3" style="width : 25%; margin : auto">
 
    <div  class=" row mb-2 mt-3">
        <h6 class="col">N_cadastre : <span style="font-weight: normal">{{parcelle.getTerrainCadastre.getNTitre}}</span></h6>    
        <h6  class="col">Nom terrain : <span style="font-weight: normal">{{parcelle.getTerrainCadastre.getNomCadastre}}</span></h6>  
    </div><hr>
    <div class="row mb-2 mt-3">
        <h6 class="col">N_parcelle : <span style="font-weight: normal">{{parcelle.getNParcelle}}</span></h6>
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">Fokotany : <span style="font-weight: normal">{{parcelle.getTerrainCadastre.getFkt}}</span></h6>  
        <h6  class="col">Superficie : <span style="font-weight: normal">{{parcelle.getSuperficieParcelle}}</span></h6>  
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">Zone PUDi : <span style="font-weight: normal">{{parcelle.getTerrainCadastre.getZonePudi}}</span></h6>  
        {# <h6  class="col">Contenance : <span style="font-weight: normal">{{parcelle.getNTitre}}</span></h6>   #}
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">Propriétaire : <span style="font-weight: normal">{{parcelle.getProprietaireParcelle.getNom}} {{parcelle.getProprietaireParcelle.getPrenom}}</span></h6>  
        <h6  class="col">CIN proprietaire : <span style="font-weight: normal">{{parcelle.getProprietaireParcelle.getCin}}</span></h6>  
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">adresse : <span style="font-weight: normal">{{parcelle.getProprietaireParcelle.getAdresse}}</span></h6>  
        <h6  class="col">Télephone : <span style="font-weight: normal">{{parcelle.getProprietaireParcelle.getTelephone}}</span></h6>  
    </div><hr>
     <div style="display:flex; justify-content : center" class="mb-2 mt-3">
        <h3>Contenances </h3>  
    </div>
     <hr class="mb-3" style="width : 50% ; margin : auto">
    <hr class="mb-3" style="width : 25%; margin : auto">
    
{# /////////// #}
    <div class="content">
        <table id ="table_id" class="table  table-striped table-bordered ">
            <thead class=" table-primary text-center" style="font-weight:bold">
                <td class=" table-primary text-center">Usage Batiment</td>
                <td class=" table-primary text-center">Surface Occupé</td>
            </thead>
            {% for contenance in contenances %}
            
                <tr>
                    <td class="text-center"  style="font-weight:bold">{{ contenance.getUsageBatimentContenance}}</td>
                    <td class="text-center ">{{ contenance.getSurfaceOccupeContenance}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>



{# ///////////// #}


<hr>
     <div style="display:flex; justify-content : center" class="mb-2 mt-3">
        <h3>Image du plan du terrain </h3>  
    </div>
     <hr class="mb-3" style="width : 50% ; margin : auto">
    <hr class="mb-3" style="width : 25%; margin : auto">


    
    <div  class=" row mb-2 mt-3">
        <img  class="img-fluid img-thumbnail" style = "width : 100% ; height : auto ; object-fit : cover; " src={{ asset('uploads/Image_du_plan_parcelle/' ~ parcelle.getImageParcelle) }} alt"image du terrain"/>
    </div>
    <hr class="mb-3" style="width : 50% ; margin : auto">
    <hr class="mb-3" style="width : 25%; margin : auto">
    <hr class="mb-3" style="width : 13%; margin : auto">
    <hr class="mb-3" style="width : 7%; margin : auto">



{% endblock %}
{% block javascript %}
     
{% endblock %}  