{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
    <div class="title mt-2 " style =" display  : flex ; aling-items: center; justify-content : center">
        <h3>{{titre}}</h3>
    </div>
    <div >
         {{form_start(form)}}
            <div class="row">
                <div class="col">
                    {{form_row(form.nom)}}
                </div>
                <div class="col">
                    {{form_row(form.prenom)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_row(form.dateNaissance)}}
                </div>
                <div class="col">
                    {{form_row(form.telephone)}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form_row(form.adresse)}}
                </div>
                <div class="col">
                    {{form_row(form.email)}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{form_row(form.cin)}}
                </div>
            </div>
         {{form_end(form)}}
    </div>



{% endblock %}
{% block javascript %}
     
{% endblock %}  