{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
    <div class="title mt-2 " style =" display  : flex ; aling-items: center; justify-content : center">
        <h3>{{titre}}</h3>
    </div>
    <div >
         {{form_start(form)}}
            <div class="row">
                <div class="col">
                    {{form_row(form.usageBatimentContenance)}}
                </div>
                <div class="col">
                    {{form_row(form.surfaceOccupeContenance)}}
                </div>
            </div>
             
            <div class="row">
                <div class="col"> 
                    <label>N_titre du terrain :</label>
                    <input class="form form-control mt-2" name="n titre">
                </div>
                <div class="col">
                    {# {{form_row(form.cin_proprietaire)}} #}
                    <label>CIN du proprietaire :</label>
                    <input class="form form-control mt-2" name="cin proprietaire">
                </div>
            </div>
             
         {{form_end(form)}}
    </div>



{% endblock %}
{% block javascript %}
     
{% endblock %}  