{% extends 'base.html.twig' %}

{% block title %}Suppression du terrain{% endblock %}

{% block body %}
    <div style="display:flex; justify-content : center" class="mb-2 mt-3">
        <h3>A propos du terrain </h3>  
    </div>
    <hr class="mb-3" style="width : 50% ; margin : auto">
    <hr class="mb-3" style="width : 25%; margin : auto">
 
    <div  class=" row mb-2 mt-3">
        <h6 class="col">N_titre : <span style="font-weight: normal">{{terrainTitre.getNTitre}}</span></h6>  
        <h6  class="col">Nom terrain : <span style="font-weight: normal">{{terrainTitre.getNomTerrainTitre}}</span></h6>  
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">Fokotany : <span style="font-weight: normal">{{terrainTitre.getFkt}}</span></h6>  
        <h6  class="col">Superficie : <span style="font-weight: normal">{{terrainTitre.getSuperficie}}</span></h6>  
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">Zone PUDi : <span style="font-weight: normal">{{terrainTitre.getNTitre}}</span></h6>  
        <h6  class="col">Contenance : <span style="font-weight: normal">{{terrainTitre.getNTitre}}</span></h6>  
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">Nom proprietaire : <span style="font-weight: normal">{{terrainTitre.getProprietaireTerrainTitre.getNom}} {{terrainTitre.getProprietaireTerrainTitre.getPrenom}}</span></h6>  
        <h6  class="col">CIN proprietaire : <span style="font-weight: normal">{{terrainTitre.getProprietaireTerrainTitre.getCin}}</span></h6>  
    </div><hr>
    <div  class=" row mb-2 mt-3">
        <h6 class="col">adresse : <span style="font-weight: normal">{{terrainTitre.getProprietaireTerrainTitre.getAdresse}}</span></h6>  
        <h6  class="col">Télephone : <span style="font-weight: normal">{{terrainTitre.getProprietaireTerrainTitre.getTelephone}}</span></h6>  
    </div><hr>
    
    <div  class=" row mb-2 mt-3">
        <img  class="img-fluid img-thumbnail" style = "width : 100% ; height : auto ; object-fit : cover; " src={{ asset('uploads/Image_du_plan_terrain_titre/' ~ terrainTitre.getImage) }} alt"image du terrain"/>
    </div>
    <hr class="mb-3" style="width : 50% ; margin : auto">
    <hr class="mb-3" style="width : 25%; margin : auto">
    <hr class="mb-3" style="width : 13%; margin : auto">
    <hr class="mb-3" style="width : 7%; margin : auto">



{% endblock %}
{% block javascript %}
     
{% endblock %}  